<div class="c-pdf__info-page-container">
  <div class="c-pdf__info-page-inner">
    <div class="c-pdf__additional-info">
      {% if content.field_pdf_additional_information|field_value %}
        {{ content.field_pdf_additional_information }}
      {% endif %}
    </div>

    {# All logos #}
    {% if logos %}
      <div>
        {% for data in logos %}
          {% for section in data %}
            <h3>{{ section.label }}</h3>
            {% for item in section.items %}
              {% if item.type == 'logo' %}
                {# Organisation logos #}
                {% if item.link %}
                  <a href="{{ item.link }}"
                     title="{{ 'Visit'|t ~ ' ' ~ item.title ?: 'organisation'|t }}"
                     target="{{ item.is_external ? '_blank' : '' }}">
                    {% if item.logo %}
                      {{ item.logo }}
                    {% else %}
                      {{ item.title }}
                    {% endif %}
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </div>
    {% endif %}

    {# Cover image caption #}
    <div>
      {% if content.field_photo_caption|field_value %}
        <h4>{{ 'Cover image'|t }}</h4>
        {{ content.field_photo_caption }}
      {% endif %}
    </div>
  </div>
</div>
