<header class="c-pdf__cover">
  <div class="c-pdf__cover-container">
    <div class="c-pdf__cover-top">
      <div class="c-pdf__logo">
        <img src="/{{ base_path ~ directory }}/assets/img/pdf-cover-logo.svg" alt=""/>
      </div>
    </div>

    <div class="c-pdf__cover-content">

      <h1 class="c-pdf__title">
        {{ label }}
      </h1>

      {# Subtitle #}
      {% if content.field_subtitle|field_value %}
        <h2 class="c-single-header__subtitle">{{ content.field_subtitle }}</h2>
      {% endif %}

      {# Authors #}
      {% if authors %}
        <div class="c-single-header__meta-item">
          <ul class="c-single-header__authors-list">
            {% for author in authors %}
              <li class="c-single-header__author-item">
                <span>{{ author.firstname ~ ' ' ~ author.surname }}</span>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {# Date #}
      {% if date %}
        <p>{{ date|upper }}</p>
      {% endif %}
    </div>
  </div>

  {# FEATURED IMAGE #}
  {% if content.field_featured_image|field_value %}
    <div class="c-pdf__cover-image">
      {{ content.field_featured_image }}
    </div>
  {% endif %}

  {# Cover logos #}
  {% if sidebar_data %}
    <div class="c-pdf__cover-bottom">
      {% for data in sidebar_data %}
        {% for section in data %}
          {{ section.label }}

          {% for item in section.items %}
            {% if item.type == 'logo' %}
              {# Organisation logos #}
              {% if item.link %}
                <a class="c-meta-rows__logo" href="{{ item.link }}"
                   title="{{ 'Visit'|t ~ ' ' ~ item.title ?: 'organisation'|t }}"
                   target="{{ item.is_external ? '_blank' : '' }}">
                  {% if item.logo %}
                    {{ item.logo }}
                  {% else %}
                    {{ item.title }}
                  {% endif %}
                </a>
              {% endif %}
            {% endif %}
          {% endfor %}

        {% endfor %}
      {% endfor %}
    </div>
  {% endif %}
</header>
