{% set classes = [
  'c-node',
  'c-node--type-' ~ node.bundle|clean_class,
] %}

<header {{ attributes.addClass(classes) }}>
  <h1 class="c-node__title">{{ label }}</h1>

  {# If one day event #}
  {% if header_start_time and date %}
    {{ date }}
    {{ header_start_time }}
    {% if timezone %}
      {{ timezone }}
    {% endif %}
  {% elseif date %}
    {{ date }}
  {% endif %}

  {# Location #}
  {% if content.field_event_location|field_value %}
    {{ content.field_event_location }}
  {% endif %}

  <div>
    {% if subtype %}
      <h5>SUBTYPE</h5>
      <p>{{ subtype }}</p>
    {% endif %}

    {% if header_start_time %}
      {# If daily event #}
      <span>
      {% if end_time %}
        {{ end_time }}
      {% endif %}
        {% if timezone %}
          {{ timezone }}
        {% endif %}
    </span>
    {% else %}
      {# Not daily event #}
      <span>
       {% if start_time %}
         {{ start_time }} -
       {% endif %}
        {% if end_time %}
          {{ end_time }}
        {% endif %}
        {% if timezone %}
          {{ timezone }}
        {% endif %}
      </span>

      {# Event format #}
      {% if content.field_format %}
        {{ content.field_format }}
      {% endif %}

      {# open registration: if set will show 'Open registration' or
      'Application cloed' if event is in the past #}
      {% if registration %}
        {{ registration }}
      {% endif %}


      {# Registration link: available only when registration is open #}
      {% if content.field_registration|field_value and registration_open %}
        {{ content.field_registration }}
      {% endif %}

      {# View recording or Video conference link #}
      {% if content.field_video_conferencing %}
        {{ content.field_video_conferencing }}
      {% endif %}

    {% endif %}
  </div>

  {% if authors %}
    <div>
      <ul>
        {% for author in authors %}
          <li>
            {% if author.url %}
              <a href="{{ author.url }}"
                 title="{{ 'Visit '|t ~ author.firstname ~ ' ' ~ author.surname ~ '\'s profile'|t }}"
                 target="{{ author.is_external ? '_blank' : '' }}">
                {{ author.firstname ~ ' ' ~ author.surname }}
              </a>
            {% else %}
              {{ author.firstname ~ ' ' ~ author.surname }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if content.field_link|field_value %}
    {# External item #}
    {{ content.field_link }}
  {% endif %}

  {% if report_pdf %}
    {# Reprot PDF #}
    {% set file_label =  'Download PDF'|t %}
    <span class="c-meta-rows__icon-wrapper"></span>
    <a href="{{ report_pdf.url }}" title="{{ file_label }}">{{ file_label }}</a>
  {% endif %}

</header>