{% if meta_data %}
  <section class="c-meta-rows o-section o-section--has-background">
    <div class="c-meta-rows__container o-container">
      <dl class="c-meta-rows__inner">
        {% for data in meta_data %}
          {% for section in data %}
            {% if section.items[0].type %}
              {% set meta_type = section.items[0].type %}
            {% elseif section.label %}
              {% set meta_type = section.label|lower %}
              {% set meta_layout = 'half-width' %}
            {% endif %}

            <div class="c-meta-rows__row{{ meta_type ? ' c-meta-rows__row--' ~ meta_type }}{{ meta_layout ? ' c-meta-rows__row--' ~ meta_layout }}">
              <dt class="c-meta-rows__label">
                <span>{{ section.label }}</span>
              </dt>

              <dd class="c-meta-rows__items">
                {% for item in section.items %}
                  {% if item.type == 'file' %}
                    <a class="c-meta-rows__download" href="{{ item.url }}">
                      {% include '@nrgi/svg/svg.html.twig' with { 'svg' : 'download', 'extra_class' : 'c-meta-rows__icon' } %}

                      <span>{{ item.title|trim }}</span>
                    </a>

                  {% elseif item.type == 'logo' %}
                    {# Footer Oraganisation logos #}
                    {% include '@nrgi/node-partials/node--logos.html.twig' with {'item': item} %}

                  {% elseif item.type == 'text' %}
                    {{ item.title }}

                  {% else %}
                    <a class="c-meta-rows__link" href="{{ item.url }}">
                      {{ item.title|trim }}
                    </a>
                  {% endif %}
                {% endfor %}
              </dd>
            </div>
          {% endfor %}
        {% endfor %}
      </dl>
    </div>
  </section>
{% endif %}
