{% set classes = [
  'c-single-header',
  'c-single-header--' ~ node.bundle|clean_class,
] %}

<header {{ attributes.addClass(classes) }}>
  <div class="c-single-header__container">
    <div class="c-single-header__inner">
      {{ drupal_block('system_breadcrumb_block', {label: 'c-single-header__breadcrumbs'}) }}

      <h1 class="c-single-header__title">{{ label }}</h1>

      {% if content.field_subtitle|field_value %}
        <h2 class="c-single-header__subtitle">{{ content.field_subtitle }}</h2>
      {% endif %}

      {% if (header_start_time or date or content.field_event_location|field_value) and node.bundle == 'event' %}
        <h2 class="c-single-header__subtitle">
          {# If one day event #}
          {% if header_start_time and date %}
            <span class="c-single-header__subtitle-item">
              {{ date }}
              {{ header_start_time }}
              {% if timezone %}
                {{ timezone }}
              {% endif %}
            </span>
          {% elseif date %}
            <span class="c-single-header__subtitle-item">
            {{- date -}}
           </span>
          {% endif %}

          {# Location #}
          {% if content.field_event_location|field_value %}
            <span class="c-single-header__subtitle-item">{{ content.field_event_location }}</span>
          {% endif %}
        </h2>
      {% endif %}

      <ul class="c-single-header__meta">
        {% if subtype %}
          <li class="c-single-header__meta-item">
            <p class="c-single-header__subtype">{{ subtype }}</p>
          </li>
        {% endif %}

        {% if node.bundle == 'event' %}
          {% if header_start_time %}
            <li class="c-single-header__meta-item">
            {# If daily event #}
            <span>
              {% if end_time %}
                {{ end_time }}
              {% endif %}
              {% if timezone %}
                {{ timezone }}
              {% endif %}
            </span>
          {% else %}
            {# Not daily event #}
            <span>
              {% if start_time %}
                {{ start_time }} -
              {% endif %}
              {% if end_time %}
                {{ end_time }}
              {% endif %}
              {% if timezone %}
                {{ timezone }}
              {% endif %}
            </span>

            {# Event format #}
            {% if content.field_format %}
              {{ content.field_format }}
            {% endif %}

            {# open registration: if set will show 'Open registration' or
      'Application cloed' if event is in the past #}
            {% if registration %}
              {{ registration }}
            {% endif %}


            {# Registration link: available only when registration is open #}
            {% if content.field_registration|field_value and registration_open %}
              {{ content.field_registration }}
            {% endif %}

            {# View recording or Video conference link #}
            {% if content.field_video_conferencing %}
              {{ content.field_video_conferencing }}
            {% endif %}
            </li>
          {% endif %}
        {% endif %}

        {% if date and node.bundle != 'event' %}
          <li class="c-single-header__meta-item">
            <p class="c-single-header__date">{{ date }}</p>
          </li>
        {% endif %}

        {% if authors %}
          <li class="c-single-header__meta-item">
            <ul class="c-single-header__authors-list">
              {% for author in authors %}
                <li class="c-single-header__author-item">
                  {% if author.url %}
                    <a class="c-single-header__author-name c-single-header__author-name--link"
                       href="{{ author.url }}"
                       title="{{ 'Visit '|t ~ author.firstname ~ ' ' ~ author.surname ~ '\'s profile'|t }}"
                       target="{{ author.is_external ? '_blank' : '' }}">
                      {{- author.firstname ~ ' ' ~ author.surname -}}
                    </a>
                  {% else %}
                    <span class="c-single-header__author-name c-single-header__author-name--no-link">{{ author.firstname ~ ' ' ~ author.surname }}<span
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}
      </ul>

      <div class="c-single-header__buttons-wrapper">
        {% if content.field_link|field_value %}
          {# External item #}
          {{ content.field_link }}
        {% endif %}

        {% if report_pdf %}
          {# Reprot PDF #}
          {% set file_label =  'Download PDF'|t %}
          <a class="o-button" href="{{ report_pdf.url }}" title="{{ file_label }}">
            {% include '@nrgi/svg/svg.html.twig' with {'svg': 'download-icon'} %}

            {{ file_label }}
          </a>

          {#          SBTODO: to add button for languages and share on mobile #}
        {% endif %}
      </div>
    </div>
  </div>
</header>
