<section class="c-meta-rows o-section">

  {# Language switcher #}
  {% if language_switcher_links %}
    {% include '@nrgi/node-partials/node--language-switcher-links.html.twig' with {
      'text' :  "Other languages"|t,
      'links' : language_switcher_links
    } %}
  {% endif %}

  {# Share buttons #}
  {% include '@nrgi/node-partials/node--share-links.html.twig' %}

  {% if sidebar_data %}
    {# SIDEBAR META  #}
    <div class="c-meta-rows__container o-container">
      <dl class="c-meta-rows__inner">
        {% for data in sidebar_data %}
          {% if data.type == 'logo' %}
            <div class="c-meta-rows__row">
              <dt class="c-meta-rows__label">
                <h3>{{ data.label }}</h3>
              </dt>
              {% for section in data.sections %}
                <dd class="c-meta-rows__row">
                  {# Sidebar oraganisation logos #}
                  {% if section.link %}
                    <a href="{{ section.link }}"
                       title="{{ 'Visit'|t ~ ' ' ~ section.title ?: 'organisation'|t }}"
                       target="{{ section.is_external ? '_blank' : '' }}">
                      {% if section.logo %}
                        {{ section.logo }}
                      {% else %}
                        [FALLBACK PLACEHOLDER LOGO]
                      {% endif %}
                    </a>
                  {% endif %}
                </dd>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
      </dl>
    </div>
  {% endif %}

</section>