{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{# FOOTER #}
<footer class="c-footer">
  <div class="c-footer__container o-container">

    {# Newsletter / Connect with us CTA and links #}
    {% include '@nrgi/region-partials/region--footer-cta-links.html.twig' %}

    {# Logo and footer menu #}
    <div class="c-footer__bottom" style="display: flex;">
      {# Footer logo #}
      <a href="/" class="c-footer__logo" title="{{ 'Return to the homepage'|t }}">
        {% include '@nrgi/svg/svg.html.twig' with {'svg': 'logo'} %}
      </a>

      {# Footer menu #}
      <div class="c-footer__menu-wrapper">
        {{ elements.footer }}
      </div>
    </div>
  </div>

  {# Credits #}
  <div class="c-footer__credits" style="display: flex;">
      <span class="c-footer__credits-item">
        © {{ 'now'|date('Y') }}{{ ' NRGI'|trans }}
      </span>
    <span class="c-footer__credits-item">
        <a href="https://www.designbysoapbox.com/">{{ 'designbysoapbox.com'|trans|upper }}</a>
      </span>
  </div>
</footer>
