{% set classes = [
  'c-call-to-action',
  content.field_image|field_value ? 'c-call-to-action--with-image',
  'o-section',
  'js-parallax-container'
] %}
{% set background_color = content.field_background_colour|field_raw('value')|replace({'_' : '-'}) %}

<section{{ attributes.addClass(classes) }}>
  {# Image #}
  {% if content.field_image|field_value %}
    <div class="c-call-to-action__image-wrapper">
      {{ content.field_image }}
    </div>
  {% endif %}

  <div class="c-call-to-action__block">
    <div class="c-call-to-action__container o-container">
      <div class="c-call-to-action__inner c-call-to-action__inner--{{ background_color }}">
        <div class="c-call-to-action__content-wrapper">
          {# Title #}
          {% if content.field_title|field_value %}
            <h2 class="c-call-to-action__title">{{ content.field_title|field_value }}</h2>
          {% endif %}

          {# Description #}
          {% if content.field_description|field_value %}
            <p class="c-call-to-action__description">{{ content.field_description|field_value }}</p>
          {% endif %}

          {# Button link #}
          {# On this component the editor can create a button link or a download file button link. #}
          {# Use button_link.type to see type of button to render #}
          {% if button_link.url %}
            <div>[Link Type] {{ button_link.type }}</div>
            <a class="c-call-to-action__link" href="{{ button_link.url }}" style="padding: 20px; border: 1px dotted black"
               target="{{ button_link.is_external ? '_blank' : '_self' }}">
              {% if button_link.type == 'link' %}
                [arrow icon] ->
              {% elseif button_link.type == 'download' %}
                [download icon]
              {% endif %}
              <span class="c-call-to-action__link-title">{{ button_link.title }}</span>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</section>
