{% set classes = [
  'o-section',
  'o-section--wysiwyg',
  'c-wysiwyg',
] %}

<div{{ attributes.addClass(classes) }}
    style="background-color: indianred; padding:20px; width: 100%; border: #0a7bc1 1px dotted;">
  <div class="c-embed__inner o-content-from-editor">
    {% if content.field_title|field_value %}
      {{ content.field_title }}
    {% endif %}

    {% if content.field_embed_media|field_value %}
      {{ content.field_embed_media }}
    {% endif %}

    {% if content.field_caption|field_value %}
      {{ content.field_caption }}
    {% endif %}

    {% if content.field_credit|field_value %}
      {{ content.field_credit }}
    {% endif %}
  </div>
</div>
