{% set classes = [
  'o-section',
  'o-section--limited-list',
  'c-limited-list',
] %}

<div{{ attributes.addClass(classes) }}>
  <div class="c-limited-list__inner o-content-from-editor">
    {% if content.field_title|field_value %}
      {{ content.field_title }}
    {% endif %}

    {% if content.field_description|field_value %}
      {{ content.field_description }}
    {% endif %}

    {% if content.field_content_selection|field_value %}
      {{ content.field_content_selection }}
    {% endif %}

    {% if content.field_button|field_value %}
      {{ content.field_button }}
    {% endif %}
  </div>
</div>
