{% set classes = [
  'c-card',
] %}

{% set subtype = subtype|replace({'_' : ' '}) %}

{% if title or responsive_image %}
  <article{{ attributes.addClass(classes) }}>
    <div class="c-card__content-wrapper">
      <div class="c-card__meta-wrapper">
        {% if subtype %}
          <small class="c-card__tag">
            {{ subtype }}
          </small>
        {% endif %}

        {% spaceless %}
          {% if format == 'online' %}
            {# On events only #}
            <span class="c-card__meta-item">
                {{ 'Online'|t|upper }}
              </span>
          {% endif %}

          {% if recording %}
            {# On events only - will show on past event & with available recording #}
            <span class="c-card__meta-item">
                {{ 'Recording available'|t|upper }}
              </span>
          {% endif %}

          {% if date and content_type != 'event' %}
            <span class="c-card__meta-item">{{ date }}</span>
          {% endif %}

          {% if translations %}
            <span class="c-card__meta-item">{{ translations }}</span>
          {% endif %}

          {% if first_topic %}
            <span class="c-card__meta-item c-card__meta-item--topics">{{ first_topic }}</span>
          {% endif %}
        {% endspaceless %}
      </div>

      <h3 class="c-card__title">
        {% if external_link %}
          {# 'Disabled' pages, cards link to exteranl item. #}
          <a class="c-card__link" href="{{ external_link.uri }}" target="_blank"
             title="{{ external_link.title }}">
            {% if slug %}
              {# If avaliable, showing on ceatured ccntent added on homepage only. #}
              [slug]{{ slug }} /
            {% endif %}
            {{ title }}
            [ add external link icon]
          </a>
        {% else %}
          <a class="c-card__link" href="{{ url }}">
            {% if slug %}
              {# If avaliable, showing on ceatured ccntent added on homepage only. #}
              [slug]{{ slug }} /
            {% endif %}
            {{ title }}
          </a>
        {% endif %}
      </h3>

      {% if responsive_image %}
        <div class="c-card__image-wrapper">
          {% if responsive_image %}
            {{ responsive_image }}
          {% else %}
            <img src="/{{ base_path ~ directory }}/assets/img/fallback-default.svg" alt="{{ 'Fallback image'|t }}"/>
          {% endif %}
        </div>
      {% endif %}

    </div>
  </article>
{% endif %}
