{% set classes = [
  'c-featured-content',
] %}
  {% if title or responsive_image %}
    <article{{ attributes.addClass(classes) }}>
      <div class="c-featured-content__content-wrapper">
        [content type] : {{ content_type }}

        {% if subtype %}
          {{ subtype }}
        {% endif %}

        {% if format == 'online' %}
          {# On events only #}
          <p>
            {{ 'Online'|t|upper }}
          </p>
        {% endif %}

        {% if recording %}
          {# On events only - will show on past event & with available recording #}
          <p>
            {{ 'Recording available'|t|upper }}
          </p>
        {% endif %}

        <h3 class="c-featured-content__title">
          {% if external_link %}
            {# 'Disabled' pages, cards link to exteranl item. #}
            <a class="c-featured-content__link" href="{{ external_link.uri }}" target="_blank"
               title="{{ external_link.title }}">
              {% if slug %}
                {# If avaliable, showing on ceatured ccntent added on homepage only. #}
                [slug]{{ slug }} /
              {% endif %}
              {{ title }}
              [ add external link icon]
            </a>
          {% else %}
            <a class="c-featured-content__link" href="{{ url }}">
              {% if slug %}
                {# If avaliable, showing on ceatured ccntent added on homepage only. #}
                [slug]{{ slug }} /
              {% endif %}
              {{ title }}
            </a>
          {% endif %}
        </h3>

        {% if date %}
          <p>{{ date }}</p>
        {% endif %}

        {% if translations %}
          {{ translations }}
        {% endif %}

        {% if topics %}
          [topics]
          {% for topic in topics %}
            {{ topic }}
          {% endfor %}
        {% endif %}

        {% if responsive_image %}
          <div class="c-featured-content__image-wrapper">
            {% if responsive_image %}
              {{ responsive_image }}
            {% else %}
              <img src="/{{ base_path ~ directory }}/assets/img/fallback-default.svg" alt="{{ 'Fallback image'|t }}"/>
            {% endif %}
          </div>
        {% endif %}

      </div>


    </article>
  {% endif %}
