{% set classes = [
  'c-node',
  'c-node--type-' ~ node.bundle|clean_class,
] %}
<article{{ attributes.addClass(classes) }}>

  <h1 class="c-node__title">{{ label }}</h1>

  <div class="c-node__contents">
    {{ breadcrumbs }}
    {{ content }}
    {{ language_switcher }}
  </div>
</article>
