{% set classes = [
  'c-node',
  'c-node--type-' ~ node.bundle|clean_class,
] %}
<article{{ attributes.addClass(classes) }}>

  <div class="c-node__content-header">
    {% include 'node--content-header.html.twig' %}
  </div>
  <div class="c-node__contents">

    {% if content.field_banner_title|field_value %}
      {{ content.field_banner_title }}
    {% endif %}

    {% if content.field_description|field_value %}
      {{ content.field_description }}
    {% endif %}

    {% if content.field_link_bar|field_value %}
      {{ content.field_link_bar }}
    {% endif %}

    {% if content.field_background_image|field_value %}
      {{ content.field_background_image }}
    {% endif %}

    {% if content.field_components|field_value %}
      {{ content.field_components }}
    {% endif %}

    {% if content.field_cta_link|field_value %}
      {{ content.field_cta_link }}
    {% endif %}



    {% if content.field_link_bar|field_value %}
      {{ content.field_link_bar }}
    {% endif %}


  </div>

</article>
