{% set classes = [
  'c-node',
  'c-node--type-' ~ node.bundle|clean_class,
] %}
<div class="c-node__content-header">
  {% include 'node--content-header.html.twig' %}

  {% if content.field_career_opportunity_type|field_value %}
    {{ content.field_career_opportunity_type }}
  {% endif %}

  {% if content.field_country|field_value %}
    {{ content.field_country }}
  {% endif %}

  {% if content.field_city|field_value %}
    {{ content.field_city }}
  {% endif %}

  {% if content.field_apply|field_value %}
    {{ content.field_apply }}
  {% endif %}

</div>
<article{{ attributes.addClass(classes) }}>

  {% if content.field_apply|field_value %}
    {{ content.field_apply }}
  {% endif %}

  {% if content.field_body|field_value %}
    {{ content.field_body }}
  {% endif %}

  {% if content.field_career_opportunity_type|field_value %}
    {{ content.field_career_opportunity_type }}
  {% endif %}

  {% if content.field_city|field_value %}
    {{ content.field_city }}
  {% endif %}

  {% if content.field_contact_for_queries|field_value %}
    {{ content.field_contact_for_queries }}
  {% endif %}

  {% if content.field_country|field_value %}
    {{ content.field_country }}
  {% endif %}

  {% if content.field_disclaimer|field_value %}
    {{ content.field_disclaimer }}
  {% endif %}

  {% if content.field_expiration_date|field_value %}
    {{ content.field_expiration_date }}
  {% endif %}

  {% if content.field_offer_deadline|field_value %}
    {{ content.field_offer_deadline }}
  {% endif %}

  {% if content.field_photo_caption|field_value %}
    {{ content.field_photo_caption }}
  {% endif %}

  {% if content.field_region|field_value %}
    {{ content.field_region }}
  {% endif %}

  {% if content.field_salary|field_value %}
    {{ content.field_salary }}
  {% endif %}

  {% if content.field_short_description|field_value %}
    {{ content.field_short_description }}
  {% endif %}

  {% if content.field_supporting_document|field_value %}
    {{ content.field_supporting_document }}
  {% endif %}

  {% if content.field_supporting_document_label|field_value %}
    {{ content.field_supporting_document_label }}
  {% endif %}

  {% if content.field_page_builder|field_value %}
    {{ content.field_page_builder }}
  {% endif %}

  {% if all_meta is not empty %}
    this is a test
    <section class="c-meta o-section o-section--meta {{ meta_classes }}">
      <dl>
        {% for meta_row in all_meta %}
          {% if meta_row.values is not empty %}
            <div class="c-meta__row o-container">
              <dt class="c-meta__label">{{ meta_row.label }}</dt>

              <dd class="c-meta__values">
                {% for value in meta_row.values %}
                  {% if value.url is not empty %}
                    {% set link_icon = '' %}

                    {% for ext in ['.pdf','.doc','.docx','.txt','.rtf','.odt','.ppt','.pptx','.odp','.xls','.xlsx','.ods'] %}
                      {% if value.url ends with ext %}
                        {% set link_icon = 'download' %}
                      {% endif %}
                    {% endfor %}

                    {% if link_icon is empty and value.target == '_blank' %}
                      {% set link_icon = 'external' %}
                    {% endif %}

                    <a class="o-meta-link" href="{{ value.url }}" {% if value.url is not empty %}target="{{ value.term_target }}{% endif %}">
                      <span class="o-meta-link__text">{{ value.text }}</span>

                      {% if link_icon is not empty %}
                        <span class="o-meta-link__icon o-meta-link__icon--{{ link_icon }}">
                          {% if link_icon == 'external' %}
                            {% include '@bruegel/svg/svg.html.twig' with {'svg': 'external'} %}
                          {% elseif link_icon == 'download' %}
                            {% include '@bruegel/svg/svg.html.twig' with {'svg': 'download'} %}
                          {% endif %}
                        </span>
                      {% endif %}
                    </a>
                  {% else %}
                    <span class="c-meta__value"><span class="c-meta__value-text">{{ value.text }}</span></span>
                  {% endif %}
                {% endfor %}
              </dd>
            </div>
          {% endif %}
        {% endfor %}
      </dl>
    </section>
  {% endif %}
</article>
