{% set classes = [
  'c-node',
  'c-node--type-' ~ node.bundle|clean_class,
] %}

<article{{ attributes.addClass(classes) }}>
  {% include "@nrgi/node-partials/node--single-header.html.twig" %}

  <div>
    {# PERSON SIDEBAR META #}
    <h1>PERSON SIDEBAR META:</h1>
    {# Language switcher #}
    {% if language_switcher_links %}
      {% include '@nrgi/node-partials/node--language-switcher-links.html.twig' with {
        'text' :  "Other languages"|t,
        'links' : language_switcher_links
      } %}
    {% endif %}

    {% include '@nrgi/node-partials/node--metadata.html.twig' %}
  </div>
  <div style="background-color: orange">
    {% if content.field_page_builder|field_value %}
      <h1>FULL BIO:</h1>
      {{ content.field_page_builder }}
    {% endif %}
  </div>

  {# Person contributions #}
  {% set listing_results = drupal_view_result('contextual_views', 'person_contributions', node.id)|length %}
  {% if listing_results > 0 %}
    {% set listing = drupal_view('contextual_views', 'person_contributions', node.id) %}
    {% if content.field_contributions_title|field_value %}
      <h2>{{ content.field_contributions_title }}</h2>
    {% endif %}
    {% if content.field_contributions_description|field_value %}
      <h3>{{ content.field_contributions_description }}</h3>
    {% endif %}

    {{ listing }}
  {% endif %}

</article>
