{% set classes = [
  'c-node',
  'c-node--type-' ~ node.bundle|clean_class,
] %}

<article{{ attributes.addClass(classes) }}>
  {% include "@nrgi/node-partials/node--single-header.html.twig" %}

  <div class="c-single-content single-content--person">
    <div class="c-single-content__top js-sidebar-container">
      {#  SIDEBAR #}
      <div class="c-single-content__sidebar js-sidebar">
        {% include '@nrgi/node-partials/node--sidebar.html.twig' with {
          'layout_modifier': 'c-meta-rows--sidebar'
        } %}

        {% include '@nrgi/node-partials/node--metadata.html.twig' with {
          'layout_modifier': 'c-meta-rows--sidebar'
        } %}
      </div>
    </div>

    {% if content.field_page_builder|field_value %}
      {{ content.field_page_builder }}
    {% endif %}
  </div>

  {% include '@nrgi/node-partials/node--metadata.html.twig' %}

  {# Person contributions #}
  {% set listing_results = drupal_view_result('contextual_views', 'person_contributions', node.id)|length %}
  {% if listing_results > 0 %}
    {% set listing = drupal_view('contextual_views', 'person_contributions', node.id) %}
    <section class="o-section">
      <div class="o-container">
        {% if content.field_title|field_value %}
          <header class="o-section__header">
            {% if content.field_contributions_title|field_value %}
              <h2 class="o-section__heading">{{ content.field_contributions_title }}</h2>
            {% endif %}

            {% if content.field_contributions_description|field_value %}
              <p class="o-section__description">{{ content.field_contributions_description }}</p>
            {% endif %}
          </header>
        {% endif %}

        {{ listing }}
      </div>
    </section>
  {% endif %}
</article>
