{% set classes = [
  'c-node',
  'c-node--type-' ~ node.bundle|clean_class,
] %}
<div class="c-node__content-header">
  {% include 'node--content-header.html.twig' %}

  {% if content.field_career_opportunity_type|field_value %}
    {{ content.field_career_opportunity_type }}
  {% endif %}

  {% if content.field_country|field_value %}
    {{ content.field_country }}
  {% endif %}

  {% if content.field_city|field_value %}
    {{ content.field_city }}
  {% endif %}

  {% if content.field_apply|field_value %}
    {{ content.field_apply }}
  {% endif %}

</div>
<article{{ attributes.addClass(classes) }}>

  {% if content.field_apply|field_value %}
    {{ content.field_apply }}
  {% endif %}

  {% if content.field_body|field_value %}
    {{ content.field_body }}
  {% endif %}

  {% if content.field_career_opportunity_type|field_value %}
    {{ content.field_career_opportunity_type }}
  {% endif %}

  {% if content.field_city|field_value %}
    {{ content.field_city }}
  {% endif %}

  {% if content.field_contact_for_queries|field_value %}
    {{ content.field_contact_for_queries }}
  {% endif %}

  {% if content.field_country|field_value %}
    {{ content.field_country }}
  {% endif %}

  {% if content.field_disclaimer|field_value %}
    {{ content.field_disclaimer }}
  {% endif %}

  {% if content.field_expiration_date|field_value %}
    {{ content.field_expiration_date }}
  {% endif %}

  {% if content.field_offer_deadline|field_value %}
    {{ content.field_offer_deadline }}
  {% endif %}

  {% if content.field_photo_caption|field_value %}
    {{ content.field_photo_caption }}
  {% endif %}

  {% if content.field_region|field_value %}
    {{ content.field_region }}
  {% endif %}

  {% if content.field_salary|field_value %}
    {{ content.field_salary }}
  {% endif %}

  {% if content.field_short_description|field_value %}
    {{ content.field_short_description }}
  {% endif %}

  {% if content.field_supporting_document|field_value %}
    {{ content.field_supporting_document }}
  {% endif %}

  {% if content.field_supporting_document_label|field_value %}
    {{ content.field_supporting_document_label }}
  {% endif %}

  {% if content.field_page_builder|field_value %}
    {{ content.field_page_builder }}
  {% endif %}
</article>
