{% set classes = [
  'c-node',
  'c-node--type-' ~ node.bundle|clean_class,
] %}
<div class="c-node__content-header">
  {% include 'node--content-header.html.twig' %}
  {% if content.cta_download %}
    {{ content.cta_download }}
  {% endif %}
</div>

<article{{ attributes.addClass(classes) }}>

  {% if content.field_absctract|field_value %}
    {{ content.field_absctract }}

    {# Add partner logo next to abstract if there isn't key message #}
    {% if not content.field_key_messages|field_value %}
      {% if content.field_partner_logo|field_value %}
        {{ content.field_partner_logo }}
      {% endif %}
    {% endif %}

  {% endif %}

  <div class="acknowledgement">
    <p>{{ 'This content was produced with financial support from'|t }}</p>
    {% if content.field_acknowledgement|field_value %}
      {{ content.field_acknowledgement }}
    {% endif %}

    {% if content.field_acknowledgement_donor|field_value %}
      {{ content.field_acknowledgement_donor }}
    {% endif %}
  </div>

  {% if content.field_country|field_value %}
    {{ content.field_country }}
  {% endif %}

  {% if content.field_created %}
    {{ content.field_created }}
  {% endif %}

  {% if content.field_data_document_label|field_value %}
    {{ content.field_data_document_label }}
  {% endif %}

  {% if content.field_external_author_link|field_value %}
    {{ content.field_external_author_link }}
  {% endif %}

  {% if content.field_external_author_name|field_value %}
    {{ content.field_external_author_name }}
  {% endif %}

  {% if content.field_featured_image|field_value %}
    {{ content.field_featured_image }}
  {% endif %}

  {% if content.field_key_messages|field_value %}
    {{ content.field_key_messages }}

    {# Add partner logo next to key message #}
    {% if content.field_partner_logo|field_value %}
      {{ content.field_partner_logo }}
    {% endif %}
  {% endif %}

  {% if content.field_keywords|field_value %}
    {{ content.field_keywords }}
  {% endif %}

  {% if content.field_learning_block|field_value %}
    {{ content.field_learning_block }}
  {% endif %}

  {% if content.field_link_to_external_item|field_value %}
    {{ content.field_link_to_external_item }}
  {% endif %}

  {% if content.field_page_to_pdf|field_value %}
    {{ content.field_page_to_pdf }}
  {% endif %}

  {% if content.field_partner_name|field_value %}
    {{ content.field_partner_name }}
  {% endif %}

  {% if content.field_photo_caption|field_value %}
    {{ content.field_photo_caption }}
  {% endif %}

  {% if content.field_publisher|field_value %}
    {{ content.field_publisher }}
  {% endif %}

  {% if content.field_region|field_value %}
    {{ content.field_region }}
  {% endif %}

  {% if content.field_report_pdf|field_value %}
    {{ content.field_report_pdf }}
  {% endif %}

  {% if content.field_data_document|field_value %}
    {{ content.field_data_document }}
  {% endif %}

  {% if content.field_short_description|field_value %}
    {{ content.field_short_description }}
  {% endif %}

  {% if content.field_subtitle|field_value %}
    {{ content.field_subtitle }}
  {% endif %}

  {% if content.field_supporting_document|field_value %}
    {{ content.field_supporting_document }}
  {% endif %}

  {% if content.field_supporting_document_label|field_value %}
    {{ content.field_supporting_document_label }}
  {% endif %}

  {% if content.field_topic|field_value %}
    {{ content.field_topic }}
  {% endif %}

  {% if content.field_transcript|field_value %}
    {{ content.field_transcript }}
  {% endif %}

  {% if content.field_languages|field_value %}
    {{ content.field_languages }}
  {% endif %}

  {% if content.field_page_builder|field_value %}
    {{ content.field_page_builder }}
  {% endif %}

  {% if all_meta is not empty %}
    this is a test
    <section class="c-meta o-section o-section--meta {{ meta_classes }}">
      <dl>
        {% for meta_row in all_meta %}
          {% if meta_row.values is not empty %}
            <div class="c-meta__row o-container">
              <dt class="c-meta__label">{{ meta_row.label }}</dt>

              <dd class="c-meta__values">
                {% for value in meta_row.values %}
                  {% if value.url is not empty %}
                    {% set link_icon = '' %}

                    {% for ext in ['.pdf','.doc','.docx','.txt','.rtf','.odt','.ppt','.pptx','.odp','.xls','.xlsx','.ods'] %}
                      {% if value.url ends with ext %}
                        {% set link_icon = 'download' %}
                      {% endif %}
                    {% endfor %}

                    {% if link_icon is empty and value.target == '_blank' %}
                      {% set link_icon = 'external' %}
                    {% endif %}

                    <a class="o-meta-link" href="{{ value.url }}" {% if value.url is not empty %}target="{{ value.term_target }}{% endif %}">
                      <span class="o-meta-link__text">{{ value.text }}</span>
                    </a>
                  {% else %}
                    <span class="c-meta__value"><span class="c-meta__value-text">{{ value.text }}</span></span>
                  {% endif %}
                {% endfor %}
              </dd>
            </div>
          {% endif %}
        {% endfor %}
      </dl>
    </section>
  {% endif %}
</article>
