{% set classes = [
  'c-node',
  'c-node--type-' ~ node.bundle|clean_class,
] %}
<div class="c-node__content-header">
  {% include 'node--content-header.html.twig' %}

  {% if content.field_event_type|field_value %}
    {{ content.field_address }}
  {% endif %}

  {% if content.field_start_date|field_value %}
    {{ content.field_start_date }}
  {% endif %}

  {% if content.field_end_date|field_value %}
    {{ content.field_end_date }}
  {% endif %}

  {% if content.field_start_time %}
    <div class="start-time">
      {{ content.field_start_time }}
    </div>
  {% endif %}

  {% if content.field_end_time %}
    <div class="end-time">
      {{ content.field_end_time }}
    </div>
  {% endif %}

  {% if content.field_time_zone|field_value %}
    {{ content.field_time_zone }}
  {% endif %}

  {% if content.field_format|field_value %}
    {{ content.field_format }}
  {% endif %}

  {% if content.field_event_location|field_value %}
    {{ content.field_address }}
  {% endif %}

  {% if content.cta_download %}
    {{ content.cta_download }}
  {% endif %}

</div>
<article{{ attributes.addClass(classes) }}>

  {% if content.field_event_location|field_value %}
    {{ content.field_event_location }}
  {% endif %}

  {% if content.field_open_registration|field_value %}
    {{ content.field_open_registration }}
  {% endif %}

  {% if content.field_featured_image|field_value %}
    {{ content.field_featured_image }}
  {% endif %}

  {% if content.field_body|field_value %}
    {{ content.field_body }}

    {# Add partner logo wiht the body #}
    {% if content.field_partner_logo|field_value %}
      {{ content.field_partner_logo }}
    {% endif %}
  {% endif %}

  {% if content.field_speakers|field_value %}
    {{ content.field_speakers }}
  {% endif %}

  {% if content.field_speakers_external|field_value %}
    {{ content.field_speakers_external }}
  {% endif %}

  {% if content.field_instructors|field_value %}
    {{ content.field_instructors }}
  {% endif %}

  {% if content.field_instructors_external|field_value %}
    {{ content.field_instructors_external }}
  {% endif %}

  {% if content.field_partner_name|field_value %}
    {{ content.field_partner_name }}
  {% endif %}

  {% if content.field_partner_logo|field_value %}
    {{ content.field_partner_logo }}
  {% endif %}

  {% if content.field_organizing_partner|field_value %}
    {{ content.organizing_partner }}
  {% endif %}

  {% if content.field_languages|field_value %}
    {{ content.field_languages }}
  {% endif %}

  {% if content.field_transcript|field_value %}
    {{ content.field_transcript }}
  {% endif %}

  {% if content.field_page_builder|field_value %}
    {{ content.field_page_builder }}
  {% endif %}

  {% if content.field_course_training_contact|field_value %}
    {{ content.field_course_training_contact }}
  {% endif %}

  {% if content.field_course_host|field_value %}
    {{ content.field_course_host }}
  {% endif %}

  {% if content.field_course_syilabus|field_value %}
    {{ content.field_course_syilabus }}
  {% endif %}

  {% if content.field_days_of_week.start %}
    <div class="days-of-week-start">
      {{ content.field_days_of_week.start }}
    </div>
  {% endif %}

  {% if content.field_days_of_week.end %}
    <div class="days-of-week-end">
      {{ content.field_days_of_week.end }}
    </div>
  {% endif %}

  {% if content.field_time_commitment|field_value %}
    {{ content.field_time_commitment }}
  {% endif %}

  {% if content.field_expertise_required|field_value %}
    {{ content.field_expertise_required }}
  {% endif %}

  {% if content.field_address|field_value %}
    {{ content.field_address }}
  {% endif %}

  {% if content.field_video_conferencing|field_value %}
    {{ content.field_video_conferencing }}
  {% endif %}

  {% if content.field_photo_caption|field_value %}
    {{ content.field_photo_caption }}
  {% endif %}

  {% if content.field_data_document|field_value %}
    {{ content.field_data_document }}
  {% endif %}

  {% if content.field_data_document_label|field_value %}
    {{ content.field_data_document_label }}
  {% endif %}

  {% if content.field_supporting_document|field_value %}
    {{ content.field_supporting_document }}
  {% endif %}

  {% if content.field_supporting_document_label|field_value %}
    {{ content.field_supporting_document_label }}
  {% endif %}

  {% if content.field_country|field_value %}
    {{ content.field_country }}
  {% endif %}

  {% if content.field_region|field_value %}
    {{ content.field_region }}
  {% endif %}

  {% if content.field_topic|field_value %}
    {{ content.field_topic }}
  {% endif %}

  {% if content.field_keywords|field_value %}
    {{ content.field_keywords }}
  {% endif %}

  {% if all_meta is not empty %}
    <section class="c-meta o-section o-section--meta {{ meta_classes }}">
      <dl>
        {% for meta_row in all_meta %}
          {% if meta_row.values is not empty %}
            <div class="c-meta__row o-container">
              <dt class="c-meta__label">{{ meta_row.label }}</dt>

              <dd class="c-meta__values">
                {% for value in meta_row.values %}
                  {% if value.url is not empty %}
                    {% set link_icon = '' %}

                    {% for ext in ['.pdf','.doc','.docx','.txt','.rtf','.odt','.ppt','.pptx','.odp','.xls','.xlsx','.ods'] %}
                      {% if value.url ends with ext %}
                        {% set link_icon = 'download' %}
                      {% endif %}
                    {% endfor %}

                    {% if link_icon is empty and value.target == '_blank' %}
                      {% set link_icon = 'external' %}
                    {% endif %}

                    <a class="o-meta-link" href="{{ value.url }}" {% if value.url is not empty %}target="{{ value.term_target }}{% endif %}">
                      <span class="o-meta-link__text">{{ value.text }}</span>
                    </a>
                  {% else %}
                    <span class="c-meta__value"><span class="c-meta__value-text">{{ value.text }}</span></span>
                  {% endif %}
                {% endfor %}
              </dd>
            </div>
          {% endif %}
        {% endfor %}
      </dl>
    </section>
  {% endif %}
</article>
