<a href="{{ social_network.facebook.url }}"> {{ social_network.facebook.title }}</a>
<a href="{{ social_network.twitter.url }}"> {{ social_network.twitter.title }}</a>
<a href="{{ social_network.linkedin.url }}"> {{ social_network.linkedin.title }}</a>
<a href="{{ social_network.youtube.url }}"> {{ social_network.youtube.title }}</a>

