{{ attach_library('nrgi/pdf-styling') }}

<header class="c-pdf__header">
  <div class="c-pdf__header-inner">
    Test header • <span class="c-pdf__page-number">Test123</span>
  </div>
</header>

{% set wysiwyg = content.body|render %}
<div>

  <div class="c-pdf__cover">
    <h1>{{ label }}</h1>
    <p>Nulla facilisi. Sed mollis, eros et ultrices tempus, mauris ipsum aliquam libero, non adipiscing dolor urna a
      orci. Etiam imperdiet imperdiet orci. Etiam vitae tortor.</p>
  </div>

  <div class="c-pdf__body">
    {{ wysiwyg }}
    {{ wysiwyg }}
    {{ wysiwyg }}
    {{ wysiwyg }}
    {{ wysiwyg }}
    {{ wysiwyg }}
    {{ wysiwyg }}
    {{ wysiwyg }}
    {{ wysiwyg }}
    {{ wysiwyg }}
    {{ wysiwyg }}
    {{ wysiwyg }}
  </div>

</div>


<footer class="c-pdf__footer">
  <div class="c-pdf__footer-inner">
    Test footer • <span class="c-pdf__page-number">Test</span>
  </div>
</footer>
