{% if exposed is empty %}
  {% set no_filters = TRUE %}
{% endif %}

{% if id|clean_class == 'search' %}
  {% set is_search = TRUE %}
{% endif %}

{% set classes = [
  'c-listing',
  no_filters ? 'c-listing--no-filters',
  is_search ? 'c-listing--search',
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}

{% if is_search %}
  <section class="c-page-header c-page-header--search">
    <div class="o-container">
      <h2 class="c-page-header__heading">{{ 'Search'|t }}</h2>
    </div>
  </section>
{% endif %}

<div{{ attributes.addClass(classes) }}>
  <div class="c-listing__container o-container">
    {% if attachment_before %}
      <div class="c-listing__attachment c-listing__attachment-before">
        {{ attachment_before }}
      </div>
    {% endif %}

    {% if no_filters == FALSE %}
      <div class="c-listing__filters js-filters">
        <button class="c-listing__filters-button o-button js-toggle-filters-button" aria-expanded="true">
          <span class="js-toggle-filters-button-text">Hide filters</span>
        </button>
        {{ exposed }}
      </div>
    {% endif %}

    <div class="c-listing__content">
      {% if header is not empty and no_filters != TRUE %}
        <div class="c-listing__results-count">
          {{ header }}
        </div>
      {% endif %}

      {% set card_classes = [
        'c-listing__items',
      ] %}

      {% if rows %}
        <div{{ attributes.addClass(card_classes).removeClass(classes) }}>
          {{ rows[0]['#rows'] }}
        </div>
      {% elseif empty %}
        <div class="c-listing__empty">
          <h2 class="c-listing__empty-title">No results found.</h2>
        </div>
      {% endif %}
    </div>
  </div>

  {% if pager %}
    {{ pager }}
  {% endif %}

  {% if attachment_after %}
    <div class="c-listing__attachment c-listing__attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="c-listing__footer">
      {{ footer }}
    </div>
  {% endif %}
</div>
