{% if exposed is empty %}
  {% set no_filters = TRUE %}
{% endif %}

{% set classes = [
  'c-listing',
  no_filters ? 'c-listing--no-filters',
] %}
<div{{ attributes.addClass(classes) }}>
  {% if id|clean_class == 'search' %}
    <div class="c-listing__search">
      <div class="o-container c-listing__search-container">
        <form class="c-listing__search-form" action="/search" method="get" role="search" aria-label="Sitewide search">
          <input class="c-listing__search-input" title="Enter the terms you wish to search for." type="search"
                 id="header-search-input" placeholder="Type Here..." name="search_term"
                 value="{{ exposed.search_term['#value'] }}" size="15" maxlength="128">
          <button class="c-listing__search-submit" type="submit">
            <span>Search</span>
          </button>
        </form>
      </div>
    </div>
  {% endif %}

  <div class="c-listing__container">
    {{ title_prefix }}

    {% if title %}
      {{ title }}
    {% endif %}

    {{ title_suffix }}

    {% if no_filters == false %}
      <div class="c-listing__filters js-filters">
        <h5 class="c-listing__caption">{{ 'Filter  by'|t }}</h5>

        <div class="c-listing__filters-button js-toggle-filters-button" aria-expanded="true">
          <h5>{{ 'Filter content'|t }}</h5>

          {% include '@nrgi/svg/svg.html.twig' with {'svg': 'chevron-down', 'extra_class' : 'c-listing__filters-button-icon'} %}
        </div>

        {{ exposed }}
      </div>
    {% endif %}

    <div class="c-listing__content">
      <span class="c-listing__caption">{{ header }}</span>

      {% if rows %}
        <div class="c-listing__items{{ no_filters ? ' o-card-container o-card-container--three-per-row' }}">
          {{ rows }}
        </div>
      {% elseif empty %}
        <div class="c-listing__empty o-content-from-editor">
          {% if site_settings.listings.listing_no_results.field_text is not empty %}
            <h2 class="c-listing__empty-title">{{ site_settings.listings.listing_no_results.field_text }}</h2>
          {% endif %}

          {% if site_settings.listings.listing_no_results.field_summary is not empty %}
            <p class="c-listing__empty-body">{{ site_settings.listings.listing_no_results.field_summary|nl2br }}</p>
          {% endif %}
        </div>
      {% endif %}
    </div>

    {% if attachment_before %}
      <div class="c-listing__attachment c-listing__attachment-before">
        {{ attachment_before }}
      </div>
    {% endif %}

    {% if id|clean_class == 'search-view' %}
      <div class="c-listing__top">
        <form class="c-listing__form" action="/search" method="get" role="search" aria-label="Sitewide search">
          <input class="c-listing__input" title="Enter the terms you wish to search for." type="search"
                 id="header-search-input" placeholder="Type Here..." name="keyword_name"
                 value="{{ exposed.search_term['#value'] }}" size="15" maxlength="128">
          <button class="c-listing__submit" type="submit">
            <span>Search</span>
          </button>
        </form>
      </div>
    {% endif %}

    {% if attachment_after %}
      <div class="c-listing__attachment c-listing__attachment-after">
        {{ attachment_after }}
      </div>
    {% endif %}

    <div class="c-listing__pagination">
      {% if pager %}
        {{ pager }}
      {% endif %}
    </div>
  </div>

  {% if more %}
    {{ more }}
  {% endif %}

  {% if footer %}
    <div class="c-listing__footer">
      {{ footer }}
    </div>
  {% endif %}

  {% if feed_icons %}
    <div class="c-listing__feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
