<div class="c-header-search js-header-search">
  <form class="c-header-search__form" id="nrgi-search-form" method="{{ search_form['#form']['#method'] }}">
    <div class="c-header-search__form-inner">
      {{ search_form['#form']['text_field'] }}
      {{ search_form['#form']['actions']['submit'] }}
      {{ search_form['#form']['form_build_id'] }}
      {{ search_form['#form']['form_token'] }}
      {{ search_form['#form']['form_id'] }}
    </div>

    <button class="c-header-search__submit-button"
            aria-label="{{ 'Search'|t }}"
            title="Search all content"
            type="submit">
      {% include '@nrgi/svg/svg.html.twig' with {'svg': 'search-icon', 'extra_class': 'c-header-search__svg'} %}
    </button>
  </form>
</div>
